/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;
	vertical-align: baseline;*/
	
}
html, body {height:100%;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} /
textarea {overflow:auto;}

/***** RESET *****/
body{background: url("bg.jpg");
background-size: cover;}


.container {width: 80%;
	margin: auto; }
header {height: 100px;
	border-bottom: 2px solid rgba(255,255,255,0.06);}

header nav {display: flex;
           justify-content: space-between;
align-items: center;
height: 100%;}

header nav .logo a {color: white;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
	font-family: "Arial"
	
}
nav ul {
	list-style: none;
	display:flex;
	column-gap: 30px;
font-family: "Arial";}

nav ul li a { text-decoration: none;
color: white;
display: flex;}

nav .menu {display: flex;
	align-items: center;
column-gap: 48px;}
nav .menu .menubutton { color: white;
	text-decoration: none;
	background-color: rgba(255,255,255,0.08);
	padding: 15px 24px;
	font-family: "Arial";
	border-radius: 56px;}
nav ul a:hover{color: #0BA2C0;
	transition: 0.5s;
	
}
nav .menu .menubutton:hover {background-color: #0BA2C0;
color:black;
transition: 0.5s;
}

 .container .menu .menubutton{color: white;}

/* responsive start */
@media(max-width:576px){.container{width:100% ; padding-left:12px ; padding-right:12px }}
/* responsive end */

/* section start*/
.content{color: white;
padding-top: 150px;}


.content h1 {font-size: 60px;
text-align: center;
font-family: "Arial"}

.content p {font-size: 24px;
text-align: center;
font-family: "Arial";
margin-top: 32px;}
.content .links {display: flex;
justify-content: center;
margin-top: 48px;
column-gap: 16px;
}
.content .links a {background-color: white;
padding: 20px;
width: 280px;
color: black;
text-align: center;
font-size: 18px;
text-decoration: none;
border-radius: 56px;
transition: all 0.5s ease-in;
	font-family: "Arial";
	
}
.content .links a:hover {background-color: #A69FA0;}



/* section end*/



















































